
@using CJ.Plug.Models.LogModels
@using CJ.Plug.Models.Plug
@using CJ.Plug.Models.Shared
@using Microsoft.AspNetCore.Components
@using MudBlazor
@using Radzen.Blazor
@using Serilog
@using System.Text.Json

@inject ISnackbar Snackbar
@inject MainApiClient MainApiClient

<MudDropContainer Style="height:100%" T="DropItem"
Items="_items" ItemsSelector="@((item,dropzone) => item.Identifier == dropzone)" ItemDropped="ItemUpdated"
CanDropClass="mud-border-error">
    <ChildContent>

        <Radzen.Blazor.RadzenSplitter>
            <RadzenSplitterPane Size="30%" Min="200px">
                <MudStack Style="height:100%;">
                    <MudStack>
                        <MudTextField T="string" Label="搜索" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" TextChanged="OnTextChanged" Immediate="true" Clearable="true" FullWidth />
                        <MudTreeView Items="@_treeItemData" @ref="_treeView" FilterFunc="MatchesName" 
                        @bind-SelectedValue="_selectedFolder">
                            <ItemTemplate>
                                <MudDropZone T="DropItem" Identifier="@context.Value" OnlyZone="true">
                                    <MudTreeViewItem @bind-Expanded="@context.Expanded" Items="@context.Children" Value="@context.Value"
                                    Icon="@context.Icon" IconColor="Color.Warning" Text="@context.Text" Visible="@context.Visible" />
                                </MudDropZone>
                            </ItemTemplate>
                        </MudTreeView>
                    </MudStack>
                    <MudSpacer />
                    <MudDropZone T="DropItem" Identifier="Deleted" OnlyZone="true"
                    Class="rounded-lg border-2 border-dashed mud-border-lines-default">
                        <MudPaper Height="100px" Width="100%">
                            <MudStack Style="height:100%;" AlignItems="AlignItems.Center" Justify="Justify.Center">
                                <MudIconButton OnClick="OpenDeletedFiles" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" />
                            </MudStack>
                        </MudPaper>
                    </MudDropZone>
                </MudStack>
            </RadzenSplitterPane>
            <RadzenSplitterPane Size="70%" Min="280px">
                <MudTabs Style="height:100%;width:100%">
                    <MudTabPanel Text="@($"文件清单({_selectedFolder})")" Style="height:100%">
                        <MudStack Style="height:100%">
                            <MudToolBar Gutters="false" Dense="true">
                                @* <MudCheckBox @bind-Value="ToolbarCheckBox" /> *@
                                <MudIconButton Icon="@Icons.Material.Filled.Download" />
                                <MudIconButton Icon="@Icons.Material.Filled.Refresh" />
                                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" />                                
                                @* <MudText>(@_selectedFolder)</MudText> *@
                                <MudSpacer />
                                <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" />
                                <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" />
                            </MudToolBar>
                            @* <MudDivider /> *@
                            @if (Processing)
                            {
                                <MudProgressCircular Indeterminate="true" />
                            }
                            else
                            {
                                <MudDropZone T="DropItem" Identifier="@_selectedFolder" AllowReorder="true" Class="d-flex flex-wrap flex-grow-1 pa-2 rounded" />
                            }
                        </MudStack>
                    </MudTabPanel>
                </MudTabs>
            </RadzenSplitterPane>
        </Radzen.Blazor.RadzenSplitter>

    </ChildContent>
    <ItemRenderer>
        <div Class="rounded mud-paper-outlined d-flex align-center pa-3 ma-2">
            <MudIcon Icon="@(context.Identifier == "Folders" ? Icons.Custom.Uncategorized.Folder : Icons.Custom.FileFormats.FileDocument)" Color="Color.Inherit" Class="mr-2" />
            @context.Name
        </div>
    </ItemRenderer>
</MudDropContainer>
@code {
    [Parameter]
    public PlugDataZone? PlugDataZone { get; set; }

    public PlugData? PlugData { get; set; }
    public string? RootWorkPath { get; set; }

    //public List<FileSystemNode>? ChildPlugs { get; set; } = new List<FileSystemNode>();
    //public List<FileSystemNode>? Files { get; set; }
    private bool Processing { get; set; } = false;
    private List<DropItem> _items = new();

    public bool ToolbarCheckBox { get; set; } = false;
    string _selectedFolder = "Social";


    private List<TreeItemData<string>> _treeItemData = new();
    private TreeItemData<string> RootItem = new();

    private MudTreeView<string> _treeView;

    private string _searchPhrase;

    public class TreeItemPresenter : TreeItemData<string>
    {
        public TreeItemPresenter(string text, string icon) : base(text)
        {
            Text = text;
            Icon = icon;
        }
    }

    private async void OnTextChanged(string searchPhrase)
    {
        _searchPhrase = searchPhrase;
        await _treeView.FilterAsync();
    }

    private Task<bool> MatchesName(ITreeItemData<string> item)
    {
        if (string.IsNullOrEmpty(item.Text))
        {
            return Task.FromResult(false);
        }

        return Task.FromResult(item.Text.Contains(_searchPhrase, StringComparison.OrdinalIgnoreCase));
    }



    protected override async Task OnParametersSetAsync()
    {
        if (PlugDataZone != null)
        {
            PlugData = PlugDataZone.GetPlugData(PlugDataZone.PlugDefinitionId);
            //WorkPath = PlugDataZone?.PDZWorkPath;
            RootWorkPath = Path.Combine(PlugDataZone.UserName,PlugDataZone.PDZId);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTreeFiles();
            _selectedFolder = RootWorkPath;
        }
    }

    private async Task LoadTreeFiles()
    {
        Processing = true;
        RootItem = new TreeItemData<string>() { Text = PlugData?.Name, Value = RootWorkPath, Icon = Icons.Material.Filled.Folder, Expandable = true ,Expanded=true};
        var DeletedItem = new TreeItemData<string>() { Text = "已删除文件", Value = "Deleted", Icon = Icons.Material.Filled.Delete, Visible=false};
        _treeItemData.Add(RootItem);
        _treeItemData.Add(DeletedItem);
        RootItem.Children = new List<TreeItemData<string>>();
        RootItem.Children = await LoadTreeChilds(new FileSystemNode(RootWorkPath, PlugData.Name), RootItem);

        Processing = false;
        StateHasChanged();
    }

    private async Task<IReadOnlyCollection<ITreeItemData<string>>> LoadTreeChilds(FileSystemNode ParentFolder, TreeItemData<string> ParentTree)
    {
        //CLog.Information($"Loading tree child files of {ParentFolder.FullPath}");
        // Build a concrete list then assign it to the ParentTree.Children property
        var children = new List<TreeItemData<string>>();
        var childContent = await GetChildFilesAsync(ParentFolder);
        foreach (var c in childContent ?? Enumerable.Empty<FileSystemNode>())
        {
            if (c.IsDirectory)
            {
                var childTree = new TreeItemData<string>() { Text = c.Name, Value = c.FullPath, Icon = Icons.Material.Filled.Folder, Expandable = true, Expanded = true };
                var displayName = PlugDataZone?.GetPlugData(c.Name);
                if (displayName != null)
                {
                    childTree.Text = displayName.Name;
                }
                // Recursively load grandchildren
                await LoadTreeChilds(c, childTree);
                //CLog.Information($"Added folder {c.FullPath} to tree");
                children.Add(childTree);
            }
        }

        ParentTree.Children = children;
        return ParentTree.Children;
    }


    private async Task<List<FileSystemNode>?> GetChildFilesAsync(FileSystemNode ParentFolder)
    {
        //CLog.Information($"Loading child files of {ParentFolder.FullPath}");
        var childContent = await MainApiClient.GetFolderFiles(ParentFolder,null,null);
        foreach(var c in childContent)
        {
            if (c.IsDirectory)
            {         
            }
            else
            {
                _items.Add(new DropItem() { Name = c.Name, Identifier = ParentFolder.FullPath });
                //CLog.Information($"Added {c.Name} to {ParentFolder.FullPath}");
            }
        }
        return childContent;
    }


    private async Task ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        //CLog.Information(dropItem.Item.Identifier,PlugDataZone.PDZId);
        var FilePath = dropItem.Item.Identifier;
        dropItem.Item.Identifier = dropItem.DropzoneIdentifier;
        
        if (dropItem.DropzoneIdentifier == "Deleted")
        {
            Snackbar.Add($"文件 {dropItem.Item.Name} {dropItem.DropzoneIdentifier} 成功。", Severity.Info, config =>
            {
                config.OnClick = snackbar =>
                {
                    return Task.CompletedTask;
                };
            });
        
        //CLog.Information($"File {dropItem.Item.Name} moved to {dropItem.DropzoneIdentifier}.假装删除。",PlugDataZone.PDZId);
        //CLog.Information($"{JsonSerializer.Serialize(dropItem)}",PlugDataZone.PDZId);
        //CLog.Information($"{PlugDataZone.PDZWorkPath}",PlugDataZone.PDZId);
        var file = await MainApiClient.DeleteFileWithRequest(new FileDeleteRequest()
            {
                FilePath = FilePath,
                FileName = dropItem.Item.Name
            });
            //CLog.Information($"删除文件 {dropItem.Item.Name} in {PlugDataZone.PDZId} with response: {JsonSerializer.Serialize(file)}");
        }
    }

    private void OpenDeletedFiles()
    {
        _selectedFolder = "Deleted"; 
    }


    
    public class DropItem
    {
        public string Name { get; init; }
        public string Identifier { get; set; }
    }
}