@using CJ.Plug.Models.Relation
@using CJ.Plug.Models.Station
@using CJ.Plug.StationAndToolApi.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using MudBlazor
@using System.Net.Http.Json
@using System.Text
@using System.Text.Json
@inject IJSRuntime JsRuntime
@inject HttpClient Http
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject MainApiClient MainApiClient



<div id="input-file-upload-button-wrapper" class="d-none">
    <MudFileUpload T="IBrowserFile" FilesChanged="@OnFilesSelected" />
</div>


<MudDialog Class="stack-resize">
    <DialogContent>        
        <MudTable T="ToolConfig" Items="ToolConfigs" Dense
        Hover Filter="new Func<ToolConfig,bool>(FilterFunc)"
        CanCancelEdit @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">(@Station?.StationIp)工具配置</MudText>
                @* <MudButton OnClick="NewConfig" Variant="Variant.Outlined" Color="Color.Primary">新增工具</MudButton>
                <MudMenu Label="添加常用工具" Variant="Variant.Filled" Color="Color.Primary" ActivationEvent="@MouseEvent.LeftClick"
                AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.TopLeft" Dense>

                    <MudMenuItem OnClick="@(()=>NewCommonConfig("NX","10.0",@"C:\Program Files\Siemens\NX 10.0\NXBIN\ugraf.exe",null))"> 
                        NX 10.0: C:\Program Files\Siemens\NX 10.0\NXBIN\ugraf.exe</MudMenuItem>
                    <MudMenuItem OnClick="@(()=>NewCommonConfig("NX","12.0",@"C:\Program Files\Siemens\NX 12.0\NXBIN\ugraf.exe",null))">
                        NX 12.0: C:\Program Files\Siemens\NX 12.0\NXBIN\ugraf.exe</MudMenuItem>
                    <MudMenuItem OnClick="@(()=>NewCommonConfig("Patran","20122",@"C:\MSC.Software\Patran\20122\bin\patran.exe",null))">
                        Patran 20122: C:\MSC.Software\Patran\20122\bin\patran.exe</MudMenuItem>
                    <MudMenuItem OnClick="@(()=>NewCommonConfig("Nastran","2022",@"C:\MSC.Software\Nastran\2022\bin\nastran.exe",null))">
                        Nastran 2022: C:\MSC.Software\Nastran\2022\bin\nastran.exe</MudMenuItem>
                    <MudMenuItem OnClick="@(()=>NewCommonConfig(
"WordConvertToPdf",
"1.0",
@"D:\99_Pro\CJ.Plug-Aspire\PlugToolIntegrations\WordConvertToPdf\bin\Debug\net9.0\WordConvertToPdf.exe",
"2,WordFilePath,PdfFilePath"))">
                        WordConvertToPdf: D:\99_Pro\CJ.Plug-Aspire\PlugToolIntegrations\WordConvertToPdf\bin\Debug\net9.0\WordConvertToPdf.exe 2,WordFilePath,PdfFilePath
                    </MudMenuItem>
                    <MudMenuItem OnClick="@(()=>NewCommonConfig(
"WordToPdf",
"1.0",
@"D:\99_Pro\CJ.Plug-Aspire\PlugToolIntegrations\WordToPdf\bin\Debug\net4.8\WordToPdf.exe",
"2,WordFilePath,PdfFilePath"))">
                        WordToPdf: D:\99_Pro\CJ.Plug-Aspire\PlugToolIntegrations\WordToPdf\bin\Debug\net4.8\WordToPdf.exe 2,WordFilePath,PdfFilePath
                    </MudMenuItem>
                    <MudMenuItem OnClick="@(()=>NewCommonConfig(
"InsertDataToWordBm",
"1.0",
@"D:\99_Pro\CJ.Plug-Aspire\PlugToolIntegrations\WordInsertData\bin\Debug\net8.0\WordInsertData.exe",
"2,WordFilePath,PdfFilePath"))">
                        InsertDataToWordBm: D:\99_Pro\CJ.Plug-Aspire\PlugToolIntegrations\WordInsertData\bin\Debug\net8.0\WordInsertData.exe 2,WordFilePath,PdfFilePath
                    </MudMenuItem>
                </MudMenu> *@
                <MudSwitch T="bool">仅显示特殊配置</MudSwitch>
                <MudSpacer />
                <MudTextField @bind-Value="searchString" Placeholder="搜索" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <ColGroup>
                @if (applyButtonPosition.DisplayApplyButtonAtStart() || (editButtonPosition.DisplayEditButtonAtStart() && editTrigger == TableEditTrigger.EditButton))
                {
                    <col style="width:60px;" />
                }

                <col style="width:150px;" />
                <col />
                <col style="width:150px;" />
                <col style="width:150px;" />
                @if (applyButtonPosition.DisplayApplyButtonAtEnd() || (editButtonPosition.DisplayEditButtonAtEnd() && editTrigger == TableEditTrigger.EditButton))
                {
                    <col style="width:50px;" />
                }
            </ColGroup>
            <HeaderContent>
                @*                 <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ToolConfig, object>(x=>x.Id)">序号</MudTableSortLabel></MudTh>
 *@                
                <MudTh>工具名称</MudTh>
                <MudTh>工具路径</MudTh>
                <MudTh>工具版本</MudTh>
                <MudTh>命令参数</MudTh>
                <MudTh>禁用</MudTh>
                <MudTh>操作</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.ToolName</MudTd>
                <MudTd>@context.ToolPath</MudTd>
                <MudTd>@context.ToolVersion</MudTd>
                <MudTd>@context.CommandParameter</MudTd>
                <MudTd>@context.IsDisabled</MudTd>
                <MudTd>
                    <MudButton OnClick="@(() => DeleteConfig(context))" Color="Color.Error" Variant="Variant.Outlined" Size="Size.Small">删除</MudButton>
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate>
                @* <MudTd DataLabel="Id">@context.Id</MudTd> *@
                <MudTd><MudTextField @bind-Value="context.ToolName" ReadOnly/></MudTd>
                <MudTd>                    
                    <MudTextField @ref="filechooser"
                    T="string"
                    IconSize="Size.Small"                   
                    Label="输入或从图站选择"
                    Variant="Variant.Outlined"
                    HelperText=""
                    Margin="Margin.Dense"
                    ReadOnly="false"
                    Clearable="true"
                    Immediate="true"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Search"
                    AdornmentColor="Color.Info"
                    OnAdornmentClick="@OnChooseFile"
                    @bind-Value="@context.ToolPath" />
                </MudTd>
                <MudTd><MudTextField @bind-Value="context.ToolVersion" ReadOnly /></MudTd>
                <MudTd><MudTextField @bind-Value="context.CommandParameter" ReadOnly /></MudTd>
                <MudTd><MudSwitch Size="Size.Small" @bind-Value="context.IsDisabled" /></MudTd>
            </RowEditingTemplate>
            <PagerContent>
                <MudTablePager  RowsPerPageString="每页行数"/>
            </PagerContent>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>

        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(()=>_MudDialog.Close(DialogResult.Cancel()))">取消</MudButton>
        <MudButton Color="Color.Primary" OnClick="UpdateConfigs">提交</MudButton>
    </DialogActions>
</MudDialog>

<MudOverlay @bind-Visible="isVisible" DarkBackground="true" ZIndex="9999" AutoClose="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>


@code {

    [CascadingParameter] IMudDialogInstance _MudDialog { get; set; }
    [Parameter] public Station? Station { get; set; }

    public List<ToolConfig> ToolConfigs { get; set; } = new List<ToolConfig>();

    //public StationConfigTable? toolAgentToolConfig { get; set; } = new StationConfigTable();
    public IBrowserFile? File { get; set; }
    DialogOptions diaOption = new DialogOptions() { MaxWidth = MaxWidth.Large, Position = DialogPosition.Center, FullWidth=true};


    private bool isVisible = false;
    private string searchString = "";
    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;
    private TableEditButtonPosition editButtonPosition = TableEditButtonPosition.End;
    private TableEditTrigger editTrigger = TableEditTrigger.RowClick;
    private MudTextField<string> filechooser;
    //private string tmpToolPath;
    private ToolConfig selectedItem1 = null;


    protected override async Task OnInitializedAsync()
    {
        await _MudDialog.SetOptionsAsync(diaOption);

        var relations = await MainApiClient.GetRealationByFilterAsync(new RelationFilter() { RoleBId = Station.Id, RelationCategory = RelationCategory.ToolToStation.ToString() });

        foreach (var r in relations)
        {
            var toolDeploySetting = JsonSerializer.Deserialize<ToolDeploySettingModel>(r.RelationSetting);
            var tool = await MainApiClient.GetToolByIdAsync(r.RoleAId);
            if (toolDeploySetting.IsDeployed)
            {
                var newToolConfig = new ToolConfig()
                {
                    ToolId = r.RoleAId,
                    ToolName = r.RoleAName,
                    ToolVersion = tool?.ToolVersion,
                    //ToolPath = r.GetRelationSetting("ToolPath"),
                    ToolPath = toolDeploySetting?.SpecialToolPath,
                    CommandParameter = tool?.CommandParameter,
                };
                ToolConfigs.Add(newToolConfig);
            }            
        }
    }


    private bool FilterFunc(ToolConfig element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        // if (element.Id.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        if (element.ToolName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.ToolPath} {element.ToolVersion}".Contains(searchString))
            return true;
        return false;
    }

    private async Task OnChooseFile()
    {
        //Console.WriteLine("open new dialog");
        // var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
        // var parameters = new DialogParameters<RemoteFiles> { { x => x.IsChooseBusinessTool, false }, { x => x.ToolAgentHostToUse , toolAgentToolConfig.ToolAgentHostIp } };
        // var dialog = await DialogService.ShowAsync<RemoteFiles>("选择图站文件", parameters, options);
        // var result = await dialog.Result;
        // if (!result.Canceled)
        // {
        //     selectedItem1.ToolPath = result.Data.ToString();
        // }
        //Console.WriteLine(selectedItem1.ToolName);
        //Console.WriteLine($"toolName:{toolName}");
        //return DomAccessor.ClickElementAsync("#input-file-upload-button-wrapper input[type=file]");
    }

    private async Task OnFilesSelected(IBrowserFile file)
    {       
        await filechooser.FocusAsync();
        selectedItem1.ToolPath = file.Name;    
    }

    private async Task NewCommonConfig(string name,string version,string path,string? command)
    {
        ToolConfigs.Add(new ToolConfig(){ToolName=name,ToolVersion=version,ToolPath=path,CommandParameter=command});
        //StateHasChanged();
    }

    private async Task NewConfig()
    {
        ToolConfigs.Add(new ToolConfig());
        StateHasChanged();
    }

    private async Task DeleteConfig(ToolConfig ToolConfig)
    {
        //Console.WriteLine(ToolConfig.ToolName);
        var result = ToolConfigs.Remove(ToolConfig);
        //Console.WriteLine(result.ToString());
        //Console.WriteLine(toolAgentToolConfig.ToolConfigs.Count());
        StateHasChanged();
    }

    private async Task UpdateConfigs()
    {
        _MudDialog.Close();
        //查找是否已有配置信息
        //没有则新建，有则更新
        //await _ToolAgentConfig.UpdateToolAgentConfigTable(toolAgentToolConfig);
        //await MainApiClient.UpdateStationToolConfigAsync(toolAgentToolConfig);
        //Console.WriteLine("update config success");
    }


}
